body{
	font-size: 16px;
	font-family: Open Sans;
	margin: 0;
}

header {
	background: url(210H.jpg) center center;
	height: 100vh;
	background-size: cover;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}


.name{
	font-family: Open Sans;
	font-weight: 700;
	color: white;
	font-size: 72px;
	margin: 0;
}

h1 span{
	border: 10px solid white;
	padding: 0.2em 0.5em;
}

nav {
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;	
	float: right;
	height: 54px;
	margin-top: 90px;
}

nav a{
	display: inline-block;
	margin-left: 40px;
	font-weight: 700;
	font-size: 16px;
	color: white;
	text-decoration: none;
	float: right;
}

nav a:hover{
	color: white;
	text-decoration: none;
}

.what-we-do-wrapper {
	visibility: hidden;
	margin: 0 auto;
	width: 100%;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;         
  	-webkit-align-items: center;         
  	-ms-flex-align: center;         
  	align-items: center;
  	-webkit-justify-content: space-around;
  	-ms-flex-pack: distribute;
  	justify-content: space-around;
}

.about-us{
	visibility: hidden;
	text-align: center;
	padding-top: 100px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.snow-tiger{
	position: relative;
	text-align: center;
}

.snow-tiger p{
	max-width: 300px;
	display: inline-block;
	padding-bottom: 100px;
}

.snow-tiger-img{
	width: 200px;
	height: auto;
	border-radius: 50%;
}


.gallery-wrapper{
	background-size: cover;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	margin-bottom: 220px;
}

.gallery-title {
	visibility: hidden;
	padding-top: 100px;
	padding-bottom: 80px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}



/* Bottom Gallery Animation Delay */

span.text-content {
  background: rgba(0,0,0,0.2);
  font-family: Just Another Hand;
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0;
  transition: opacity 500ms;
}

.gallery-wrapper div:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.bot-picture1 {
	visibility: hidden;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 250px;
	border: 2px solid black;
	display: inline-block;
  	margin: 0 1em 1em 0;
 transition: all 1s ease;
}

.business {
	background-image: url(business1.jpg);
	background-size: auto 100%;
	background-position: 80% 50%;
}

.bot-picture1:hover .business {
	-webkit-filter: blur(3px);  
}

.bot-picture2 {
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
	visibility: hidden;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 250px;
	border: 2px solid black;
	display: inline-block;
  	margin: 0 1em 1em 0;
 	transition: all 1s ease;
}

.hands-together {
	background-image: url(hands-together.jpg);
	background-size: auto 100%;
	background-position: 50% 50%;
}

.bot-picture2:hover .hands-together {
	-webkit-filter: blur(3px);  
}

.bot-picture3 {
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;	
	visibility: hidden;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 250px;
	border: 2px solid black;
	display: inline-block;
  	margin: 0 1em 1em 0;
 transition: all 1s ease;
}

.bot-picture3:hover img {
	-webkit-filter: blur(3px);  
}

.bot-picture4 {
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
	visibility: hidden;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 250px;
	border: 2px solid black;
	display: inline-block;
  	margin: 0 1em 1em 0;
 transition: all 1s ease;
}

.bot-picture4:hover img {
	-webkit-filter: blur(3px);  
}

footer {
	position: relative;
	width: 100%;
	height: 330px;
	background: url(210H.jpg) center center;
	background-size: cover;
}

footer p{
	max-width: 300px;
	float: left;
	color: white;
	clear: left;
	margin-left: 50px;
}

footer h2{
	float: left;
	margin-left: 125px;
	color: white;
	margin-top: 50px;
	margin: 50px 0px 0px 125px;
}

footer li{
	color: white;
	list-style: none;
}

.address1{
	position: absolute;
	margin-left: 600px;
	margin-top: 190px;
}

.address2{
	position: absolute;
	margin-left: 600px;
	margin-top: 90px;
}

.social-media-links{
	float: right;
	clear: right;
	margin-right: 100px;
	margin-top: 20px;
}

.copyright{
	float: right;
	clear: right;
	margin-top: 50px;
	margin-right: 100px;
}



