
html body{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
}

header {

  background: -webkit-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* W3C */

	width: 100%;
	height: 590px;
	background-size: cover;
	position: relative;
}

h1.name {
	position: relative;
	font-family: Pacifico, serif;
	font-weight: thin;
	text-align: center;
	margin-top: 0;
	font-size: 4em;
	top: 190px;
	padding: 0;
}

h2.note {
	animation-delay: 1.0s;
	font-family: Dancing Script, serif;
	text-align: center;
	line-height: 0px;
	position: relative;
	top: 200px;
}

nav {
	background-color: #060808;
	width: 100%;
	height: 75px;
	position: relative;
	bottom: 25px;
	padding: 0;
}

.top-logo{
	position: relative;
	padding: 0;
	top: 15px;
	right: 100px;
	width: 50px;
	height: 50px;
}


#first-page-nav li a {
	font-family: Questrial, serif;
	text-decoration: none;
	font-weight: 900;
	color: #cccccc;
	position: relative;
}

#first-page-nav li {
	position: relative;
	top: 20px;
	display: inline;
	margin-right: 50px;
}

#first-page-nav {
	margin-left: 300px;
	margin-top: -570px;
}

.hr-3{
	position: relative;
	top: 480px;
	height: 15px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#youtube-video {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	top: 100px;
	padding: 0;
}

.what-we-do {
	position: relative;
	margin-top: 100px
}
.what-we-do p {
	line-height: 30px;
	font-family: Just Another Hand;
	font-size: 30px;
}

#what-we-do-wrapper {
	visibility: hidden;
	margin-top: 550px;
	position: relative;
}

#para-1 {
	margin-left: 100px;
	margin-right: 900px;
	top: 300px;
}

#para-2 {
	margin-right: 100px;
	margin-left: 900px;
	top: 300px;
}

.body-block2{
	position: relative;
	top: 50px;
}

#para-3 {
	margin-left: 100px;
	margin-right: 900px;
	top: 300px;
}


.snow-tiger-right {
	position: relative;
	display: inline;
	left: 700px;
	top: 50px;
	width: 500px;
	height: auto;
	border-radius: 10px;
}

.snow-tiger-left {
	position: relative;
	display: inline;
	left: 130px;
	bottom: 5px;
	width: 500px;
	height: auto;
	border-radius: 10px;
}

#hr-1{
	position: relative;
	top: 280px;
	height: 15px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 5);
}

.gallery-wrapper{
	position: relative;
	height: 700px;
	top:250px;
}

span #gallery-title {
	top: 100px;
	font-size: 50px;
	font-family: Just Another Hand;
	position: relative;
	text-align: center;
}

#bottom-gallery{
	position: relative;
	margin-left: 220px;
	bottom: 300px;
}


#hr-2 {
	position: relative;
	top: 235px;
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


/* Bottom Gallery Animation Delay */

.bot-picture1 {
	visibility: hidden;
	top: 450px;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 200px;
	border: 2px solid black;
	margin-right: 30px;
}

.bot-picture2 {
	animation-delay: 0.25s;
	visibility: hidden;
	top: 450px;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 200px;
	border: 2px solid black;
	margin-right: 30px;
}

.bot-picture3 {
	animation-delay: 0.5s;
	visibility: hidden;
	top: 450px;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 200px;
	border: 2px solid black;
	margin-right: 30px;
}

.bot-picture4 {
	animation-delay: 0.75s;
	visibility: hidden;
	top: 450px;
	position: relative;
	display: inline-block;
	height: 300px;
	width: 200px;
	border: 2px solid black;
	margin-right: 30px;
}

#footer {
	position: relative;
	top: 203px;
	width: 100%;
	height: 300px;
	background-color: #060808;
}

.bot-logo{
	position: relative;
	padding: 0;
	top: 50px;
	height: 100px;
	width: auto;
	left: 70px;
}

#footer ul li{
	position: relative;
	color: white;
	margin-top: 5px;
	padding: 0;
	left: 280px;
}

.bot-nav-links{
	position: relative;
	top: -60px;
}

.bot-nav-links ul li{
	text-decoration: none;
	list-style: none;
}

#footer img {
	position: relative;
	margin-right: 30px;
}

.social-media-links{
	position: relative;
	padding: 0;
	left: 1050px;
	bottom: 420px;
}

.address1{
	position: relative;
	left: 280px;
	bottom: 280px;
	padding: 0;
}

.address1 ul li{
	list-style: none;
}

.address2{
	position: relative;
	left: 280px;
	bottom: 240px;
	padding: 0;
}

.address2 ul li{
	list-style: none;
}

.copyright{
	position: relative;
	color: white;
	padding: 0;
	left: 1150px;
	bottom: 380px;
}



